{% extends "layout.html" %}

{% block title %}Saliohjelman muokkaus{% endblock %}
{% block content %}
<br>
Muokattava saliohjelma: {{ plan_name }}
<br>
{% for move in planinfo %}
<b>{{ move[0] }}:</b> 
{{ move[1] }} sarjaa, {{ move[2] }} toistoa, {{ move[3] }}kg
<br>
{% endfor %}
<br>
<br>
<form action="/addmove" method="POST">
<label for="move_name">Valitse lisättävä liike</label>
<input name="move_name" list="move_name">
<datalist id="move_name">
  {% for move in moves %}
  <option value= "{{ move.name }}""> {{ move.name }}</option>
  {% endfor %}
</datalist>
<br>

Sarjoja: <input type="number" name="sets">
<br>
Toistoja: <input type="number" name="reps">
<br>
<input type="hidden" name="plan_id" value="{{ plan_id }}">
<a href="/editplan">
<input type="submit" value="Lisää liike">
</a>
</form>
<a href="/">Palaa etusivulle</a>

{% endblock %}