{% extends "layout.html" %}

{% block title %}Saliohjelmat{% endblock %}
{% block content %}

<h4>Muokkaa saliohjelmaa</h4>
<form action="/editplan" method="POST">
<label for="plan_name">Valitse treenisuunnitelma</label>
<input name="plan_name" list="plan_name">
<datalist id="plan_name">
    {% for plan in plans %}
    <option value={{plan[0]}}></option>
    {% endfor %}
</datalist>

<a href="/editplan">
  <input type="submit" value="Näytä ja muokkaa">
</a>
</form>

<br>
<br>

<h4>Luo uusi saliohjelma</h4>
<form action="/gymplan" method="POST">
Anna saliohjelman nimi: <input type"text" name="name">

<input type="submit" value="Tallenna">
</form>

<br>
<a href="/">Palaa etusivulle</a>
{% endblock %}