{% extends "layout.html" %}

{% block content %}

{% if session.user_id %}

Sisäänkirjautunut salihirmu: <i>{{ session.user_name }}</i>

{% if plans %}

<h3>Kirjaa treeni</h3>

<form action="/opengymplan" method="POST">
  <label for="plan_name">Valitse saliohjelma</label>
  <select name="plan_name" id="plan_name">
    {% for plan in plans %}
    <option value= "{{ plan.name }}"> {{ plan.name }}</option>
    {% endfor %}
  </select><br>
  <label for="date"> ja treenipäivä </label>
  <input type="date" name="date" value= "{{ today }}">
  <a href="/document">
    <input type="submit" value="Siirry kirjaukseen">
  </a>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<h3>Muokkaa saliohjelmaa</h3>

<form action="/editplan" method="POST">
  <label for="plan_name">Valitse muokattava saliohjelma</label>
  <select name="plan_name" id="plan_name">
    {% for plan in plans %}
    <option value= "{{ plan.name }}""> {{ plan.name }}</option>
    {% endfor %}
  </select>
    <input type="submit" value="Näytä ja muokkaa">
  </a>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}

<h3>Luo uusi saliohjelma</h3>
<h5>Nimen on oltava pituudeltaan 3-30 merkkiä, eikä se voi olla sama kuin aiemmin luomasi saliohjelman nimi.</h5>
<form action="/addplan" method="POST">
  Anna saliohjelman nimi: <input type="text" name="name">
  <input type="submit" value="Tallenna">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% if stats_found %}
<h3>Tarkastele tilastoja</h3>

<form action="/statistics_one" method="POST">
  <label for="plan_name">Tarkastele yksittäisen saliohjelman tilastoja</label>
  <select name="plan_name" id="plan_name">
    {% for plan in plans %}
    <option value= "{{ plan.name }}""> {{ plan.name }}</option>
    {% endfor %}
  </select>
    <input type="submit" value="Näytä tilastot">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>

<form action="/statistics_all" method="POST">
  Tarkastele tilastoja treenikerroista ja liikkeistä jotka ovat saliohjelmissasi
  <input type="submit" name="stats_all" value="Näytä tilastot">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>

<form action="/statistics_move" method="POST">
  <label for="move_name">Tarkastele yksittäisen liikkeen tilastoja</label>
  <select name="move_name" id="move_name">
    {% for move in moves %}
    <option value= "{{ move.name }}""> {{ move.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" name="stats_all" value="Näytä tilastot">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
{% endif %}

<a href="/logout">Kirjaudu ulos</a>

{% else %}

Kirjaudu sisään
<br>
<form action="/login" method="post">
Tunnus: <input type="text" name="username"><br>
Salasana: <input type="password" name="password"><br>
  <input type="submit" value="Kirjaudu">
</form>
<br>

Tarvittaessa luo uusi tunnus <a href="/signin">tästä</a>

{% endif %}

{% endblock %}