{% extends "layout.html" %}

{% block content %}

{% if session.user_id %}

Sisäänkirjautunut salihirmu: <i>{{ session.user_name }}</i>

{% if plans %}

<h4>Kirjaa treeni</h4>
<form action="/opengymplan" method="POST">
  <label for="plan_name">Valitse saliohjelma</label>
  <select name="plan_name" id="plan_name">
    {% for plan in plans %}
    <option value= "{{ plan.name }}"> {{ plan.name }}</option>
    {% endfor %}
  </select>
  <label for="date"> ja treenipäivä </label>
  <input type="date" name="date">
  <a href="/document">
    <input type="submit" value="Siirry kirjaukseen">
  </a>
</form>
<br>

<h4>Muokkaa saliohjelmaa</h4>
<form action="/editplan" method="POST">
<label for="plan_name">Valitse muokattava saliohjelma</label>
<select name="plan_name" id="plan_name">
    {% for plan in plans %}
    <option value= "{{ plan.name }}""> {{ plan.name }}</option>
    {% endfor %}
</select>
<a href="/editplan">
  <input type="submit" value="Näytä ja muokkaa">
</a>
</form>
<br>

{% endif %}

<h4>Luo uusi saliohjelma</h4>
<form action="/addplan" method="POST">
Anna saliohjelman nimi: <input type="text" name="name">
<input type="submit" value="Tallenna">
</form>
<br>

<a href="/logout">Kirjaudu ulos</a>


{% else %}

Kirjaudu sisään
<br>
<form action="/login" method="post">
Tunnus: <input type="text" name="username">
<p>
Salasana: <input type="password" name="password">
<p>
<input type="submit" value="Kirjaudu">
</form>
<br>

Tarvittaessa luo uusi tunnus <a href="/signin">tästä</a>

{% endif %}

{% endblock %}
