{% extends "layout.html" %}

{% block content %}

{% if all_weights %}

<h3>Käyttäjän <i>{{ session.user_name }}</i> tilastot liikkeelle <i> {{ move_name }} </i></h3>

{% for weight in weights %}
{{ weight[1]  }}: {{ weight[0]  }}kg  (Saliohjelmassa <i>{{ weight[2]  }}</i> 
{{ weight[3]  }} sarjaa, {{ weight[4]  }} toistoa) <br>
{% endfor %}

{% else %}

<h5>Liikkeelle <b><i>{{ move_name }}</i></b> ei löydy vielä statistiikkaa.</h5><br>

{% endif %}


<br>
<a href="/">Palaa etusivulle</a>

{% endblock %}